* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

section {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #1a1a1a;
    height: 100vh;
}

header {
    background-color: rgba(13, 13, 13, 1);
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}

h1 {
    color: #4ea8de;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.logo {
    display: flex;
    align-items: center;
    gap: .75rem;
}

span {
    color: #5e60ce;
}

input::placeholder {
    color: #f2f2f2;
    font-weight: 400;
}

input {
    font-weight: 400;
    width: 39.875rem;
    height: 3.375rem;
    padding: 0 1rem;
    background-color: #333333;
    color: #f2f2f2;
    border: none;
    font-size: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .0625rem .5rem .0625rem #000000;
}

input:focus {
    outline: none;
}

button {
    width: 5.625rem;
    height: 3.25rem;
    padding: 0 1rem;
    background-color: #1e6f9f;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    border: none;
    color: white;
    font-size: .875rem;
    border-radius: .5rem;

    position: relative;
}

button:active {
    transform: translateY(.0625rem);
}

button:hover {
    background-color: #167db8b6;
}

button img {
    width: 1rem;
    height: 1rem;
}

.task-input {
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    margin-bottom: 3.875rem;
}

.h2-h3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.zero {
    display: inline-flex;
    background-color: #333333;
    color: #d9d9d9;
    margin-left: .5rem;
    border-radius: 62.4375rem;
    width: 1.5625rem;
    height: 1.1875rem;
    padding: .125rem .5rem;
}

h2 {
    color: #4ea8de;
    font-size: .875rem;
}

h3 {
    color: #8284fa;
    font-size: .875rem;
}

.all {
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
}


hr {
    border: .0625rem solid #333333;
    border-radius: .5rem;
    margin-bottom: 4rem;
}

.aaa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aaa > img {
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    font-weight: bold;
    color: #808080;
    line-height: 1.5;
}

.aaa > span {
    font-size: 1rem;
    font-weight: 400;
    color: #808080;
}

.check,
.delete {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task {
    width: 100%;
    min-height: 4.5rem;
    background: #262626;

    border: .0625rem solid #333333;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    gap: .75rem;

    padding: 1rem;
    margin-bottom: .75rem;
}

.task-text {
    flex: 1;
    word-break: break-word;
    line-height: 1.4;
}

h4 {
    color: #F2F2F2;
    font-size: .875rem;
    font-weight: 400;
}

.icon-btn {
    background: none;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.icon-btn img {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.icon-btn:hover,
.icon-btn:focus,
.icon-btn:active {
    background: none;
    outline: none;
    box-shadow: none;
}

.toggle-btn {
    border: .125rem solid #4EA8DE;
    border-radius: 3.9038rem;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
}

.active {
    background-color: #4EA8DE; 
}

.toggle-btn:hover {
    background-color: #4EA8DE;
    opacity: 0.4;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#modal {
    border: none;
    border-radius: .5rem;
    padding: 1.25rem;
    text-align: center;
    background-color: white;
    width: 31.25rem;
    height: fit-content;
    max-height: 25rem;
}

#modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

#modal button {
    margin: .3125rem;
    padding: .5rem .75rem;
    cursor: pointer;
}

#modaltext {
    display: flex;
}

.section-dialog {
    position: relative;
}

.article-dialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.buttons {
    display: flex;
    gap: .5rem;
    width: 100%;
    justify-content: center;
    margin-top: .5rem;
}

button img.logout {
    width: 1.5rem;
    height: 1.5rem;
}

.organizer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -1.6875rem;
    gap: .5rem;
    flex-direction: row-reverse;
}